.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-dashboard {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    width: 400px;
    height: 500px;
    background-color: rgb(148, 11, 148);
}

.top-half {
    display: block;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 45px;
    width: 300px;
    justify-content: center;
}

.title {
    padding-left: 43px;
    font-weight: bolder;
    font-size: 25px;
}

.display {
    border: 5px solid;
    border-radius: 15px;
    height: 45px;
    background-color: antiquewhite;
}

.bottom-half {
    display: flex;
    margin-top: 30px;
}

.numbers-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    width: 240px;
    height: 260px;
    gap: 6px;
}

.numbers {
    border: 1px solid;
    margin: 1px;
    width: 60px;
    height: 60px;
}

.clear {
    width: 129px;
}

.operations-container {
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    width: 200px;
    gap: 2px;
}

.operations {
    border: 1px solid;
    margin: 0;
    width: 75px;
    height: 65px;
}

.equals {
    width: 154px;
    height: 61px;
}

button {
    background-color: grey;
}